@import "constants.less";

.home-page {
    background-image: url('/images/backgroundimg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 1;
}

.home-container {
    display: flex;
    flex-direction: column;
}


.home-welcome {
    max-width: 500px;
    border-radius: 10px;
    background-color: rgba(256,256,256,.9); // SB
    box-shadow: @sb-shadow; // SB
    color: black;
    padding-left: @spacing-unit*2;
    padding-right: @spacing-unit*2;
    min-width: 350px;
}


.home-title {
    font-size: @font-size-header; // SB
    letter-spacing: @sb-letter-spacing; // SB
    margin-bottom: @spacing-unit;
}

.home-container-button {
    text-align: center;
    max-width: 300px;
    &:first-child {
        margin-bottom: @spacing-unit;
    }
}

.home-links {
    margin-top: @spacing-unit;
    display: flex;
    flex-direction: column;
    align-items: center;

  
}
