<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head class="site-header-font">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewData["Title"] - Smarter Balanced Sample Items</title>
   
    <link rel="apple-touch-icon" sizes="180x180" href="/Assets/Images/icon/apple-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Assets/Images/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/Assets/Images/icon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Assets/Images/icon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/Assets/Images/icon/favicon.ico">
    <meta name="msapplication-TileColor" content="#09733b">
    <meta name="msapplication-TileImage" content="/Assets/Images/icon/ms-icon-144x144.png">
    <meta name="msapplication-config" content="/browserconfig.xml">
    <meta name="theme-color" content="#09733b">

    <base href="~/" />
    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <environment exclude="Development">
        <link rel="stylesheet" href="~/dist/site.css" asp-append-version="true" />
    </environment>
</head>

<body>
    @RenderBody()

    <environment names="Development">
        <script>  window.ga = function () { console.log(arguments) } </script>
    </environment>
    <environment names="Staging,Production">
        <script>
            window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date;
            ga('create', 'UA-27429193-4', 'auto');
            ga('send', 'pageview');
        </script>
        <script async src='https://www.google-analytics.com/analytics.js'></script>
    </environment>

    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
